<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Video Playlist Tutorial</title>

  <!-- custom css file link  -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
  <div class="container">
    <div>
      <h3 class="main-vid-subtitle">
        <span>Speed</span>
        <button onclick="setPlaySpeed(this, 0.8)" type="button" class="unselected-button">0.8</button>
        <button onclick="setPlaySpeed(this, 0.9)" type="button" class="unselected-button">0.9</button>
        <button onclick="setPlaySpeed(this, 1)" type="button" id="default-button" class="selected-button">1</button>
        <button onclick="setPlaySpeed(this, 1.2)" type="button" class="unselected-button">1.2</button>
        <button onclick="setPlaySpeed(this, 1.5)" type="button" class="unselected-button">1.5</button>
        <button onclick="setPlaySpeed(this, 1.8)" type="button" class="unselected-button">1.8</button>
      </h3>
      <h3 class="main-vid-subtitle">
        <span>Loop</span>
        <select name="video-repeat-times" id="video-repeat-times" onchange="setRepeat()">
          <option value="0">&#8734;</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          <option value="4">Four</option>
          <option value="5">Five</option>
        </select>
        <span>Autoplay</span>
        <label class="autoplay-switch">
          <input class="autoplay-checkbox" onclick="setAutoplay()" type="checkbox" checked>
          <span class="autoplay-slider-round"></span>
        </label>
      </h3>
    </div>

    <div class="main-video-container">
      <video src="images/<%= data1[0].list%>/<%= data1[0].filename %>" controls loop webkit-playsinline playsinline class="main-video"></video>
      <h3 class="main-vid-title"><%= data1[0].title %></h3>
    </div>

    <div class="video-list-wrapper">
      <div class="video-list-bar w3-bar w3-black">
        <button class="w3-bar-item w3-button active-nav-button" onclick="openList(1)" id="video-list-nav-button-1">LIST 1</button>
        <button class="w3-bar-item w3-button" onclick="openList(2)" id="video-list-nav-button-2">LIST 2</button>
        <button class="w3-bar-item w3-button" onclick="openList(3)" id="video-list-nav-button-3">LIST 3</button>
        <button class="w3-bar-item w3-button" onclick="openList(4)" id="video-list-nav-button-4">LIST 4</button>
        <button class="w3-bar-item w3-button" onclick="openList(5)" id="video-list-nav-button-5">LIST 5</button>
        <button class="w3-bar-item w3-button" onclick="openList(6)" id="video-list-nav-button-6">LIST 6</button>
      </div>
      <div id="video-list-container-1" class="video-list-container">
        <% data1.forEach(function (element, i) { %>
          <% if (i == 0) { %><div class="list active">
          <% } else { %><div class="list"><% } %>
            <video src="images/list1/<%= element.filename %>" class="list-video list1-video" id="<%= element.timestamp %>"></video>
            <h3 class="list-title"><%= i+1 + ' - ' + element.title %></h3>
            <form action="/fileDelete" enctype="multipart/form-data" class="delete-form" method="POST" onsubmit="return confirm('Do you really want to submit the form?');">
              <button name="delete_filename" value="list1/<%= element.filename %>" class="delete-button" <% if (i == 0) { %>hidden<% } %>>
              </button>
            </form>
          </div>
        <% }) %>
      </div>
      <div id="video-list-container-2" class="video-list-container" style="display:none">
        <% data2.forEach(function (element, i) { %>
          <% if (i == 0) { %><div class="list active">
          <% } else { %><div class="list"><% } %>
            <video src="images/list2/<%= element.filename %>" class="list-video list2-video" id="<%= element.timestamp %>"></video>
            <h3 class="list-title"><%= i+1 + ' - ' + element.title %></h3>
            <form action="/fileDelete" enctype="multipart/form-data" class="delete-form" method="POST" onsubmit="return confirm('Do you really want to submit the form?');">
              <button name="delete_filename" value="list2/<%= element.filename %>" class="delete-button" <% if (i == 0) { %>hidden<% } %>>
              </button>
            </form>
          </div>
        <% }) %>
      </div>
      <div id="video-list-container-3" class="video-list-container" style="display:none">
        <% data3.forEach(function (element, i) { %>
          <% if (i == 0) { %><div class="list active">
          <% } else { %><div class="list"><% } %>
            <video src="images/list3/<%= element.filename %>" class="list-video list3-video" id="<%= element.timestamp %>"></video>
            <h3 class="list-title"><%= i+1 + ' - ' + element.title %></h3>
            <form action="/fileDelete" enctype="multipart/form-data" class="delete-form" method="POST" onsubmit="return confirm('Do you really want to submit the form?');">
              <button name="delete_filename" value="list3/<%= element.filename %>" class="delete-button" <% if (i == 0) { %>hidden<% } %>>
              </button>
            </form>
          </div>
        <% }) %>
      </div>
      <div id="video-list-container-4" class="video-list-container" style="display:none">
        <% data4.forEach(function (element, i) { %>
          <% if (i == 0) { %><div class="list active">
          <% } else { %><div class="list"><% } %>
            <video src="images/list4/<%= element.filename %>" class="list-video list4-video" id="<%= element.timestamp %>"></video>
            <h3 class="list-title"><%= i+1 + ' - ' + element.title %></h3>
            <form action="/fileDelete" enctype="multipart/form-data" class="delete-form" method="POST" onsubmit="return confirm('Do you really want to submit the form?');">
              <button name="delete_filename" value="list4/<%= element.filename %>" class="delete-button" <% if (i == 0) { %>hidden<% } %>>
              </button>
            </form>
          </div>
        <% }) %>
      </div>
      <div id="video-list-container-5" class="video-list-container" style="display:none">
        <% data5.forEach(function (element, i) { %>
          <% if (i == 0) { %><div class="list active">
          <% } else { %><div class="list"><% } %>
            <video src="images/list5/<%= element.filename %>" class="list-video list5-video" id="<%= element.timestamp %>"></video>
            <h3 class="list-title"><%= i+1 + ' - ' + element.title %></h3>
            <form action="/fileDelete" enctype="multipart/form-data" class="delete-form" method="POST" onsubmit="return confirm('Do you really want to submit the form?');">
              <button name="delete_filename" value="list5/<%= element.filename %>" class="delete-button" <% if (i == 0) { %>hidden<% } %>>
              </button>
            </form>
          </div>
        <% }) %>
      </div>
      <div id="video-list-container-6" class="video-list-container" style="display:none">
        <% data6.forEach(function (element, i) { %>
          <% if (i == 0) { %><div class="list active">
          <% } else { %><div class="list"><% } %>
            <video src="images/list6/<%= element.filename %>" class="list-video list6-video" id="<%= element.timestamp %>"></video>
            <h3 class="list-title"><%= i+1 + ' - ' + element.title %></h3>
            <form action="/fileDelete" enctype="multipart/form-data" class="delete-form" method="POST" onsubmit="return confirm('Do you really want to submit the form?');">
              <button name="delete_filename" value="list6/<%= element.filename %>" class="delete-button" <% if (i == 0) { %>hidden<% } %>>
              </button>
            </form>
          </div>
        <% }) %>
      </div>
    </div>

    <div class="file-upload-container">
      <form action="/fileUpload" enctype="multipart/form-data" method="POST">
        <select name="list_index" id="list-index" required>
          <option value="list1">LIST 1</option>
          <option value="list2">LIST 2</option>
          <option value="list3">LIST 3</option>
          <option value="list4">LIST 4</option>
          <option value="list5">LIST 5</option>
          <option value="list6">LIST 6</option>
        </select>
        <span class="list-title">Video title: </span>
        <input type="text" id="video-title" name="video_title" required>
        <input type="file" id="actual-btn" accept=".mp4" name="uploaded_file" required hidden>
        <label for="actual-btn">Choose File</label>
        <span id="file-chosen">No file chosen</span>
        <input type="submit" id="submit-btn" hidden>
        <label for="submit-btn">Submit</label>
      </form>
    </div>

  </div>

    <!-- custom js file link  -->
  <script src="js/script.js"></script>

</body>

</html>
